<div style="position: relative">

  <div class="header-dialog">
    <h1>Add User</h1>
  </div>

  <form [formGroup]="dataForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        #templateForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Enter title" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input formControlName="phoneNo" matInput placeholder="Enter message" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit">
      {{id ? 'Edit' : 'Add'}} User
    </button>
  </form>
</div>

